<table class="w-full text-center">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (product of products$ | async; track product.id) {

    <tr class="border-b-1">
      <td>
        <ng-container
          [ngComponentOutlet]="image()"
          [ngComponentOutletInputs]="{
           imageOptions:{ 
              src: product['images'][0],
              alt: product.title, 
              width: 64,
              height: 64,
              class: 'rounded',
              loading: 'lazy',
              priority: false,
              fallback: '/assets/images/placeholder.png'
            }
          }"
        >
        </ng-container>
      </td>
      <td>{{ product.title }}</td>
      <td>${{ product.price }}</td>
      <td><a [routerLink]="['/products', product.id]">view</a></td>
    </tr>
    }
  </tbody>
</table>
