  <table class="w-full text-center">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (product of products$ | async; track product.id) {

      <tr class="border-b-1">
        <td><img [ngSrc]="product['images'][0]" width="64" height="64"></td>
        <td>{{ product.title }}</td>
        <td>${{ product.price }}</td>
        <td><a [routerLink]="['/products', product.id]">view</a></td>
      </tr>
      }
    </tbody>
  </table>

