@if(isVisible()){
<div
  [class]="{
    'top': position() === 'top',
    'bottom': position() === 'bottom',
    'success': type() === 'success',
    'error': type() === 'error',
    'warning': type() === 'warning',
    'info': type() === 'info'
  }"
  class="snackbar"
>
  <div class="flex flex-row gap-2 items-center w-full">
    <!-- <div>
            <span class="material-icons">{{ icon }}</span>
        </div> -->
    <div class="flex flex-col justify-between items-start">
      <div class="flex flex-row justify-between items-center w-full">
        <span class="font-semibold">{{heading()}} </span>
        <button (click)="close()" class="cursor-pointer">
          <mat-icon
            aria-hidden="false"
            aria-label="close icon"
            fontIcon="close"
          ></mat-icon>
        </button>
      </div>
      <div>
        <p>{{ message() }}</p>
      </div>
    </div>
  </div>
</div>
}
